@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles can go here */
.hex-avatar {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.card-shimmer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(105deg, transparent 40%, rgba(255,255,255,0.4) 45%, rgba(255,255,255,0.0) 50%);
    z-index: 10;
    pointer-events: none;
    transition: all 0.5s;
    transform: skewX(-20deg) translateX(-150%);
}

.group:hover .card-shimmer {
    transform: skewX(-20deg) translateX(150%);
    transition: all 1s;
}

.fog-of-war-light {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
}
